.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

body {
  
  margin-top: 50px;

  font-family: "Open Sans", sans-serif;
}

.header {
  text-align: center;
  color: #371B58;
  margin-top: 10px;
  font-size: xx-large;
}

.row {
  padding-bottom: 50px;
  text-align: center;
  margin-left: 25px;

}

.buttons {
  width: 200px;
  margin: 0 auto;
  display: inline;
}
  
  .action_btn {
  width: 200px;
  margin: 0 auto;
  display: inline;
}